
body {
    width: 600px;
    margin: 0 auto;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

ol > li {
    list-style: none;
    background-color: wheat;
    text-align: center;
    font: bold 40px "Fira Sans", serif;
    width: 200px;
    padding: 20px;
    margin: 10px auto;
}
